body {
    font-family: sans-serif;
  }
  
  h1, #designed-by {
    text-align: center;
    color:darkblue;
  }
  
  .style1 {
    background-color: #ffbe0b;
  }
  
  .style2 {
    background-color: #fb5607;
  }
  
  .style3 {
    background-color: #ff006e;
  }
  
  .style4 {
    background-color: #8338ec;
  }
  
  .style5 {
    background-color: #3a86ff;
  }
  
  .style6 {
    background-color: #22223b;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }